<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/jquery-chosen/bootstrap-chosen.css">
    <link rel="stylesheet" href="/static/style/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/style/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/morris/morris.css">

    <script src="/static/style/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/style/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/style/jquery-chosen/chosen.jquery.min.js"></script>
    <script src="/static/style/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/style/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="/static/style/morris/raphael.min.js"></script>
    <script src="/static/style/morris/morris.min.js"></script>
    <script src="/static/style/layui/layer/layer.js"></script>
    <script src="/static/style/jquery/jquery.form.js"></script>
    <script src="/static/style/common/layers.js"></script>
    <script src="/static/style/common/form.js"></script>
    <script src="/static/style/common/common.js"></script>
    <script src="/static/style/common/date.js"></script>
    <script src="/static/style/module/main.js"></script>

    <link rel="stylesheet" href="/static/style/content-style.css">
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <style>
        #editor—wrapper {
            border: 1px solid #ccc;
            z-index: 100; /* 按需定义 */
        }
        #toolbar-container { border-bottom: 1px solid #ccc; }
        #editor-container { height: 500px; }
    </style>
</head>

<body style="margin:0 8px 0 0;overflow-x: hidden;overflow-y:auto;">
<div id="failedBox" style="margin-bottom: 10px" class="hide"></div>


<div class="panel panel-default">
    <div class="panel-body">
        <br>{{$studyRoom := .studyRoom}}
        <form class="form-horizontal" method="post" action="{{if $studyRoom}} /study_room/update {{else}} /study_room/add {{end}}">
            <input type="hidden" name="id" class="form-control" value="{{if $studyRoom}}{{$studyRoom.ID}}{{end}}">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 名称 </label>
                <div class="col-sm-4">
                    <input type="text" name="name" class="form-control" value="{{if $studyRoom}}{{$studyRoom.Name}}{{end}}" placeholder="请输入名称" required>
                </div>
            </div>
            <input name="intro" class="form-control" rows="6" type="hidden" value="{{if $studyRoom}}{{$studyRoom.Intro}}{{end}}">
            <div id="editor—wrapper">
                <div id="toolbar-container"><!-- 工具栏 --></div>
                <div id="editor-container"><!-- 编辑器 --></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="Form.ajaxSubmit(this.form, {{if $studyRoom}} true {{else}} false {{end}})" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<script>
const { createEditor, createToolbar } = window.wangEditor

const editorConfig = {
    placeholder: '自习室介绍',
    MENU_CONF: {},
    onChange(editor) {
      const html = editor.getHtml()
      $('input[name=intro]').val(html)
    }
}

editorConfig.MENU_CONF['uploadImage'] = {
     server: '/img/upload',
}

const editor = createEditor({
    selector: '#editor-container',
    html: '{{if $studyRoom}}{{$studyRoom.Intro}}{{end}}',
    config: editorConfig,
    mode: 'default', // or 'simple'
})

const toolbarConfig = {}

const toolbar = createToolbar({
    editor,
    selector: '#toolbar-container',
    config: toolbarConfig,
    mode: 'default', // or 'simple'
})
</script>

</body>

</html>